.app{
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(rgb(24, 90, 157) 0%, rgb(67, 206, 162) 100%);
}

.game{
  display: flex;
  padding: 1rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  .word{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    &__image{
      height: 150px;
      overflow: hidden;
      padding: 0 1rem;
      & img{
        display: none;
        height: 150px;
        object-fit: cover;
      }
    }
    button{
      display: flex;
      padding: 0;
      width: 70px;
      height: 70px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: rgba($color: #ffffff, $alpha: .5);
      svg{
        width: 40px;
        height: 40px;
        fill: #ffffff;
      }
    }
 

  }
  &__next_word{
    max-width: 150px;
    width: 100%;
    padding: 1rem;
    background-color: rgb(147, 40, 255);
    color: #ffffff;
    &:disabled{
      cursor: not-allowed;
      background-color: rgba(147, 40, 255, .2);
    }
    &:hover{
      box-shadow:  0 0 6px -1px #8f54c5;
    }
  }

  &__result{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    left: calc(50% - 150px);
    top: 10rem;
    z-index: 100;
    background: whitesmoke;
    padding: 1rem;
    &_correct{
     
    }
  }
}